In [1]:
import os
import re

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, VotingClassifier, BaggingClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import model_selection

In [2]:
df_app_train_full = pd.read_csv('~/Desktop/kaggle/application_train.csv').sample(frac=1.0).reset_index(drop=True)

In [3]:
df_app_train = df_app_train_full[:4000]
val_mask = np.random.rand(len(df_app_train)) < 0.5
df_app_val = df_app_train[val_mask]
df_app_train = df_app_train[~val_mask]

In [4]:
df_app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
3,128103,0,Cash loans,F,N,Y,0,405000.0,1350000.0,37255.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
4,150080,1,Cash loans,F,N,N,1,90000.0,101880.0,10053.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
7,352882,0,Cash loans,F,N,N,0,157500.0,900000.0,23742.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
9,345255,1,Cash loans,F,N,Y,0,112500.0,211500.0,9445.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
13,226326,0,Cash loans,M,Y,N,0,180000.0,1002856.5,51336.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0