In [20]:
import numpy as np
import pandas as pd
import lightgbm as lgb

In [3]:
train_all = pd.read_pickle('train_with_length.pickle')

In [28]:
test_all = pd.read_pickle('test_with_length.pickle')

In [4]:
train_all.head()

,qid,question_text,target,question_chars,question_terms
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0,72,13
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0,81,16
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0,67,10
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0,57,9
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0,77,15

In [17]:
def process(df):
    return df.loc[:, ['question_chars', 'question_terms']]

In [21]:
X = process(train_all)
y = train_all.target

In [23]:
dset = lgb.Dataset(X, y)
params = {}
model = lgb.train(params, dset)

In [29]:
X_test = process(test_all)

In [30]:
X_test.head()

   question_chars  question_terms
0             119              24
1              40               8
2              52               9
3             149              27
4              48               7

In [32]:
y_test_pred = pd.Series(model.predict(X_test))

Make the prediction rate close to 6%.

In [45]:
prediction = (y_test_pred > 0.2).map(lambda x: 1 if x else 0)
prediction.sum() / len(y_test_pred)

0.02806457335462125

In [34]:
test_all.head()

,qid,question_text,question_chars,question_terms
0,00014894849d00ba98a9,My voice range is A2-C5. My chest voice goes u...,119,24
1,000156468431f09b3cae,How much does a tutor earn in Bangalore?,40,8
2,000227734433360e1aae,What are the best made pocket knives under $20...,52,9
3,0005e06fbe3045bd2a92,Why would they add a hypothetical scenario tha...,149,27
4,00068a0f7f41f50fc399,What is the dresscode for Techmahindra freshers?,48,7

In [49]:
answer = pd.DataFrame(test_all.qid)
answer = answer.assign(prediction=prediction)
answer.head()

                    qid  prediction
0  00014894849d00ba98a9           0
1  000156468431f09b3cae           0
2  000227734433360e1aae           0
3  0005e06fbe3045bd2a92           0
4  00068a0f7f41f50fc399           0