In [143]:
import math
import os
import re
import itertools
import time

import numpy as np
import scipy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import hyperopt
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import SpectralClustering

%matplotlib inline

In [2]:
DATA_DIR = '/Users/keiji/work/kaggle/sales1c/'

def read(file_name):
    pickle = DATA_DIR + file_name + '.pickle'
    if os.path.exists(pickle):
        return pd.read_pickle(pickle)
    df = pd.read_csv(DATA_DIR + file_name)
    df.to_pickle(pickle)
    return df

df_icats = read('item_categories.csv')
df_items = read('items.csv')
df_shops = read('shops.csv')
df_test = read('test.csv.gz')
df_sales = read('sales_train.csv.gz')

X_train = read('X_train')
y_train = read('y_train')
X_val = read('X_val')
y_val = read('y_val')

In [4]:
df_sales['item_sales'] = df_sales.item_price * df_sales.item_cnt_day

In [10]:
unique_shop_id = df_sales[['date_block_num', 'shop_id']].drop_duplicates().reset_index(drop=True)
unique_item_id = df_sales[['date_block_num', 'item_id']].drop_duplicates().reset_index(drop=True)
df_train = (
    pd.DataFrame({'date_block_num': np.arange(34)})
    .merge(unique_shop_id, how='left', on='date_block_num')
    .merge(unique_item_id, how='left', on='date_block_num')
    #.merge(df_items[['item_id', 'item_category_id']], how='left', on='item_id')
    .sort_values(by=['date_block_num', 'shop_id', 'item_id'])
    .reset_index(drop=True)
)
df_train.head().T

                   0   1   2   3   4
date_block_num     0   0   0   0   0
shop_id            0   0   0   0   0
item_id           19  27  28  29  32
item_category_id  40  19  30  23  40

In [11]:
df_agg = (
    df_sales.groupby(['date_block_num', 'shop_id', 'item_id'])
    .agg({
        'item_cnt_day': 'sum',
        #'item_price': 'median',
        #'item_sales': 'sum',
    })
    .reset_index()
    .rename(columns={
        'item_cnt_day': 'item_cnt_month',
        #'item_price': 'median_price',
        #'item_sales': 'item_sales_month',
    })
)
df_train = df_train.merge(df_agg, how='left', on=['date_block_num', 'shop_id', 'item_id'])
df_train.item_cnt_month.fillna(0.0, inplace=True)
#df_train.item_sales_month.fillna(0.0, inplace=True)
df_train.head()

   date_block_num  shop_id  item_id  item_category_id  item_cnt_month
0               0        0       19                40             0.0
1               0        0       27                19             0.0
2               0        0       28                30             0.0
3               0        0       29                23             0.0
4               0        0       32                40             6.0

In [15]:
df_train[df_train.item_cnt_month > 0]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_sales
0,02.01.2013,0,59,22154,999.00,1.0,999.00
1,03.01.2013,0,25,2552,899.00,1.0,899.00
2,05.01.2013,0,25,2552,899.00,-1.0,-899.00
3,06.01.2013,0,25,2554,1709.05,1.0,1709.05
4,15.01.2013,0,25,2555,1099.00,1.0,1099.00

In [104]:
df_train.item_id.max()

22169

In [42]:
shops = df_train[(df_train.shop_id == 0) & (df_train.date_block_num == 0) & (df_train.item_cnt_month > 0)][['item_id', 'item_cnt_month']]
shops = shops.groupby('item_id').item_cnt_month.sum()

In [73]:
from scipy import sparse

row = shops.index.values
row.shape

col = np.zeros((len(row),), dtype=np.int32)
col.shape

data = shops.values
data.shape

a = sparse.csc_matrix((data, (row, col))).toarray()
a[98]

array([ 25.])

In [78]:
NUM_SHOPS = 60
NUM_MONTHS = 34

rows = np.array([], dtype=np.int32)
cols = np.array([], dtype=np.int32)
data = np.array([], dtype=np.int32)
for j in range(NUM_MONTHS):
    sales = (df_train[(df_train.shop_id == 0)
                      & (df_train.date_block_num == j)
                      & (df_train.item_cnt_month > 0)][['item_id', 'item_cnt_month']])
    sales = sales.groupby('item_id').sum()
    n = len(sales)
    rows = np.append(rows, j * np.ones(n, dtype=np.int32))
    cols = np.append(cols, sales.index.values)
    data = np.append(data, sales.values)

a = sparse.csr_matrix((data, (rows, cols))).toarray()
a

array([[ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.],
       [ 0.,  0.,  0., ...,  0.,  0.,  1.]])

In [80]:
a[0,98]

25.0

In [81]:
a.shape

(34, 22161)

In [82]:
b = a.reshape(1, 34*22161)
b.shape

(1, 753474)

In [153]:
import time
from scipy.sparse.linalg import norm

NUM_SHOPS = 60
NUM_MONTHS = 34
NUM_ITEMS = df_train.item_id.max()

t = time.time()
shops = []
for i in range(NUM_SHOPS):
    tnew = time.time()
    print('#{}: {}'.format(i, tnew - t))
    t = tnew

    rows = np.array([], dtype=np.int32)
    cols = np.array([], dtype=np.int32)
    data = np.array([], dtype=np.int32)
    for j in range(NUM_MONTHS):
        sales = (df_train[(df_train.shop_id == i)
                          & (df_train.date_block_num == j)
                          & (df_train.item_cnt_month > 0)]
                         [['item_id', 'item_cnt_month']])
        sales = sales.groupby('item_id').sum()
        n = len(sales)
        rows = np.append(rows, j * np.ones(n, dtype=np.int32))
        cols = np.append(cols, sales.index.values)
        data = np.append(data, sales.values)

    ary = sparse.csr_matrix((data, (rows, cols)))
    ary.resize(1, NUM_MONTHS * NUM_ITEMS)
    nary = ary / norm(ary)
    shops.append(ary)

#0: 0.00045299530029296875
#1: 2.5271248817443848
#2: 2.4946861267089844
#3: 2.4945077896118164
#4: 2.476722002029419
#5: 2.5824501514434814

/Users/keiji/anaconda/lib/python3.5/site-packages/scipy/sparse/base.py:580: RuntimeWarning: divide by zero encountered in double_scalars
  return self.astype(np.float_)._mul_scalar(1./other)

#6: 2.497048854827881
#7: 2.493342161178589
#8: 2.478476047515869
#9: 2.4346909523010254
#10: 2.438981056213379
#11: 2.6297268867492676
#12: 2.4629058837890625
#13: 2.5244691371917725
#14: 2.4952480792999268
#15: 2.5482068061828613
#16: 2.5609090328216553
#17: 2.4809629917144775
#18: 2.4930529594421387
#19: 2.5674171447753906
#20: 2.516000986099243
#21: 2.4839820861816406
#22: 2.5468289852142334
#23: 2.5761778354644775
#24: 2.510585069656372
#25: 2.5102529525756836
#26: 2.5754151344299316
#27: 2.5620880126953125
#28: 2.4497628211975098
#29: 2.5234220027923584
#30: 2.565911054611206
#31: 2.4702939987182617
#32: 2.506227970123291
#33: 2.454720973968506
#34: 2.4725329875946045
#35: 2.4973011016845703
#36: 2.5601069927215576
#37: 2.455984115600586
#38: 2.5102949142456055
#39: 2.485813856124878
#40: 2.5114991664886475
#41: 2.4903459548950195
#42: 2.4555509090423584
#43: 2.5058720111846924
#44: 2.4797019958496094
#45: 2.5205671787261963
#46: 2.585040807723999
#47: 2.5353691577911377
#48: 2.580833911895752
#49: 2.4922189712524414
#50: 2.5407791137695312
#51: 2.5543289184570312
#52: 2.5459280014038086
#53: 2.540178060531616
#54: 2.569265842437744
#55: 2.5110411643981934
#56: 2.467663049697876
#57: 2.4670228958129883
#58: 2.486618995666504
#59: 2.519498109817505

In [154]:
shops_array = scipy.sparse.vstack(shops)

In [155]:
shops_array.shape

(60, 753746)

In [156]:
shops_array

<60x753746 sparse matrix of type '<class 'numpy.float64'>'
	with 63057 stored elements in Compressed Sparse Row format>

In [215]:
sc = SpectralClustering(n_clusters=7)
pred = sc.fit_predict(shops_array)
pd.Series(pred).value_counts()

/Users/keiji/anaconda/lib/python3.5/site-packages/sklearn/manifold/spectral_embedding_.py:234: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn("Graph is not fully connected, spectral embedding"

3    23
0    15
1     8
4     4
2     4
6     3
5     3
dtype: int64

0    31
1    15
4     6
3     4
2     4
dtype: int64