In [13]:
import math
import os
import pickle
import re
import itertools
import time

import numpy as np
import scipy
from scipy import sparse
from scipy.sparse.linalg import norm
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import hyperopt
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import SpectralClustering

%matplotlib inline

In [3]:
DATA_DIR = '/Users/keiji/work/kaggle/sales1c/'

def read(file_name):
    pickle = DATA_DIR + file_name + '.pickle'
    if os.path.exists(pickle):
        return pd.read_pickle(pickle)
    df = pd.read_csv(DATA_DIR + file_name)
    df.to_pickle(pickle)
    return df

df_icats = read('item_categories.csv')
df_items = read('items.csv')
df_shops = read('shops.csv')
df_test = read('test.csv.gz')
df_sales = read('sales_train.csv.gz')

X_train = read('X_train')
y_train = read('y_train')
X_val = read('X_val')
y_val = read('y_val')

In [4]:
df_sales['item_sales'] = df_sales.item_price * df_sales.item_cnt_day

In [5]:
unique_shop_id = df_sales[['date_block_num', 'shop_id']].drop_duplicates().reset_index(drop=True)
unique_item_id = df_sales[['date_block_num', 'item_id']].drop_duplicates().reset_index(drop=True)
df_train = (
    pd.DataFrame({'date_block_num': np.arange(34)})
    .merge(unique_shop_id, how='left', on='date_block_num')
    .merge(unique_item_id, how='left', on='date_block_num')
    .merge(df_items[['item_id', 'item_category_id']], how='left', on='item_id')
    .sort_values(by=['date_block_num', 'shop_id', 'item_id'])
    .reset_index(drop=True)
)
df_train.head().T

                   0   1   2   3   4
date_block_num     0   0   0   0   0
shop_id            0   0   0   0   0
item_id           19  27  28  29  32
item_category_id  40  19  30  23  40

In [6]:
df_agg = (
    df_sales.groupby(['date_block_num', 'shop_id', 'item_id'])
    .agg({
        'item_cnt_day': 'sum',
    })
    .reset_index()
    .rename(columns={
        'item_cnt_day': 'item_cnt_month',
    })
)
df_train = df_train.merge(df_agg, how='left', on=['date_block_num', 'shop_id', 'item_id'])
df_train.item_cnt_month.fillna(0.0, inplace=True)
df_train.head()

   date_block_num  shop_id  item_id  item_category_id  item_cnt_month
0               0        0       19                40             0.0
1               0        0       27                19             0.0
2               0        0       28                30             0.0
3               0        0       29                23             0.0
4               0        0       32                40             6.0

In [8]:
df_train[df_train.item_cnt_month > 0]

          date_block_num  shop_id  item_id  item_category_id  item_cnt_month
4                      0        0       32                40             6.0
5                      0        0       33                37             3.0
7                      0        0       35                40             1.0
11                     0        0       43                40             1.0
19                     0        0       51                57             2.0
28                     0        0       61                43             1.0
32                     0        0       75                40             1.0
36                     0        0       88                40             1.0
40                     0        0       95                40             1.0
41                     0        0       96                40             1.0
42                     0        0       98                40            25.0
44                     0        0      111                57             1.0
49                     0        0      149                45             3.0
50                     0        0      151                45             1.0
52                     0        0      153                45             1.0
58                     0        0      198                45             1.0
62                     0        0      210                45             2.0
78                     0        0      282                45             1.0
79                     0        0      306                45             1.0
89                     0        0      351                45             1.0
105                    0        0      421                45             1.0
109                    0        0      438                45             1.0
120                    0        0      482                73             2.0
121                    0        0      484                73             4.0
122                    0        0      491                73             1.0
124                    0        0      498                49             1.0
129                    0        0      556                77             9.0
137                    0        0      642                77             6.0
139                    0        0      651                77             7.0
140                    0        0      657                77             2.0
...                  ...      ...      ...               ...             ...
10913236              33       59    19894                37             1.0
10913256              33       59    19985                30             1.0
10913319              33       59    20303                40             1.0
10913321              33       59    20305                40             1.0
10913327              33       59    20335                72             1.0
10913342              33       59    20355                72             1.0
10913353              33       59    20392                72             1.0
10913419              33       59    20604                72             2.0
10913429              33       59    20614                72             1.0
10913444              33       59    20629                72             1.0
10913471              33       59    20730                72             1.0
10913490              33       59    20751                72             1.0
10913510              33       59    20866                72             4.0
10913527              33       59    20949                71            19.0
10913670              33       59    21361                41             1.0
10913673              33       59    21364                40             1.0
10913678              33       59    21369                40             2.0
10913681              33       59    21377                40             1.0
10913683              33       59    21386                40             1.0
10913687              33       59    21404                40             1.0
10913691              33       59    21427                40             1.0
10913699              33       59    21449                40             2.0
10913730              33       59    21672                38             1.0
10913759              33       59    21811                37             1.0
10913760              33       59    21812                40             1.0
10913829              33       59    22087                83             6.0
10913830              33       59    22088                83             2.0
10913831              33       59    22091                83             1.0
10913833              33       59    22100                42             1.0
10913835              33       59    22102                42             1.0

[1605626 rows x 5 columns]

In [9]:
df_train.item_id.max()

22169

In [11]:
NUM_SHOPS = 60
NUM_MONTHS = 31  # drop recent ones to prevent leaks
NUM_ITEMS = df_train.item_id.max()

t = time.time()
shops = []
for i in range(NUM_SHOPS):
    rows = np.array([], dtype=np.int32)
    cols = np.array([], dtype=np.int32)
    data = np.array([], dtype=np.int32)
    for j in range(NUM_MONTHS):
        sales = (df_train[(df_train.shop_id == i)
                          & (df_train.date_block_num == j)
                          & (df_train.item_cnt_month > 0)]
                         [['item_id', 'item_cnt_month']])
        sales = sales.groupby('item_id').sum()
        n = len(sales)
        rows = np.append(rows, j * np.ones(n, dtype=np.int32))
        cols = np.append(cols, sales.index.values)
        data = np.append(data, sales.values)

    if len(rows) == 0 or len(cols) == 0:
        ary = sparse.eye(NUM_MONTHS, NUM_ITEMS, dtype=np.int32) * 0
    else:
        ary = sparse.csr_matrix((data, (rows, cols)))
    ary.resize(1, NUM_MONTHS * NUM_ITEMS)
    nary = norm(ary)
    if nary > 1e-9:
        ary = ary / nary
    shops.append(ary)

    tnew = time.time()
    print('#{}: {}'.format(i, tnew - t))
    t = tnew

shops_array = scipy.sparse.vstack(shops)
shops_array.shape

#0: 0.0006120204925537109
#1: 2.284165859222412
#2: 2.2275021076202393
#3: 2.2792909145355225
#4: 2.2595582008361816
#5: 2.2665460109710693
#6: 2.2486398220062256
#7: 2.291166067123413
#8: 2.2423250675201416
#9: 2.2294158935546875
#10: 2.233597993850708
#11: 2.2806379795074463
#12: 2.2190639972686768
#13: 2.270343065261841
#14: 2.2853360176086426
#15: 2.26059889793396
#16: 2.2955219745635986
#17: 2.2595560550689697
#18: 2.3091349601745605
#19: 2.2395520210266113
#20: 2.3017101287841797
#21: 2.2024269104003906
#22: 2.2779970169067383
#23: 2.2392170429229736
#24: 2.2215919494628906
#25: 2.29642391204834
#26: 2.3607242107391357
#27: 2.281587839126587
#28: 2.2458791732788086
#29: 2.2987098693847656
#30: 2.27775502204895
#31: 2.3390369415283203
#32: 2.3226780891418457
#33: 2.2656638622283936
#34: 2.2850329875946045
#35: 2.2576820850372314
#36: 2.3571479320526123
#37: 2.2637531757354736
#38: 2.286284923553467
#39: 2.267306089401245
#40: 2.2908389568328857
#41: 2.243345022201538
#42: 2.345883846282959
#43: 2.2943780422210693
#44: 2.3033599853515625
#45: 2.253801107406616
#46: 2.2997679710388184
#47: 2.2982869148254395
#48: 2.2859909534454346
#49: 2.2946040630340576
#50: 2.3184120655059814
#51: 2.3791089057922363
#52: 2.307077169418335
#53: 2.2989578247070312
#54: 2.214928150177002
#55: 2.2385759353637695
#56: 2.2062370777130127
#57: 2.234696865081787
#58: 2.2412209510803223
#59: 2.253972053527832

(60, 687239)

In [ ]:
sc = SpectralClustering(n_clusters=7)
pred = sc.fit_predict(shops_array)
pd.Series(pred).value_counts()

In [ ]:
import pickle

with open(DATA_DIR + 'shops_sparse.pickle', 'wb') as f:
    pickle.dump(shops_array, f)

In [12]:
NUM_ICATS = 84
NUM_MONTHS = 31  # drop recent ones to prevent leaks
NUM_ITEMS = df_train.item_id.max()

t = time.time()
icats = []
for i in range(NUM_ICATS):
    rows = np.array([], dtype=np.int32)
    cols = np.array([], dtype=np.int32)
    data = np.array([], dtype=np.int32)
    for j in range(NUM_MONTHS):
        sales = (df_train[(df_train.item_category_id == i)
                          & (df_train.date_block_num == j)
                          & (df_train.item_cnt_month > 0)]
                         [['item_id', 'item_cnt_month']])
        sales = sales.groupby('item_id').sum()
        n = len(sales)
        rows = np.append(rows, j * np.ones(n, dtype=np.int32))
        cols = np.append(cols, sales.index.values)
        data = np.append(data, sales.values)

    if len(rows) == 0 or len(cols) == 0:
        ary = sparse.eye(NUM_MONTHS, NUM_ITEMS, dtype=np.int32) * 0
    else:
        ary = sparse.csr_matrix((data, (rows, cols)))
    ary.resize(1, NUM_MONTHS * NUM_ITEMS)
    nary = norm(ary)
    if nary > 1e-9:
        ary = ary / nary
    icats.append(ary)

    tnew = time.time()
    print('#{}: {}'.format(i, tnew - t))
    t = tnew

icats_array = scipy.sparse.vstack(icats)
icats_array.shape

#0: 2.1809818744659424
#1: 2.2705891132354736
#2: 2.2676358222961426
#3: 2.3037431240081787
#4: 2.3206870555877686
#5: 2.2953908443450928
#6: 2.5176570415496826
#7: 2.2493929862976074
#8: 2.2891550064086914
#9: 2.298408031463623
#10: 2.251394033432007
#11: 2.4972469806671143
#12: 2.327186107635498
#13: 2.2493929862976074
#14: 2.3372669219970703
#15: 2.328623056411743
#16: 2.271127939224243
#17: 2.207904100418091
#18: 2.2185659408569336
#19: 2.2802488803863525
#20: 2.2494680881500244
#21: 2.240900993347168
#22: 2.237622022628784
#23: 2.287977933883667
#24: 2.2752950191497803
#25: 2.2720069885253906
#26: 2.2173070907592773
#27: 2.297775983810425
#28: 2.324765920639038
#29: 2.279827117919922
#30: 2.314589023590088
#31: 2.267117977142334
#32: 2.3747730255126953
#33: 2.2639429569244385
#34: 2.268373966217041
#35: 2.3198580741882324
#36: 2.362536907196045
#37: 2.546031951904297
#38: 2.4186880588531494
#39: 2.546525001525879
#40: 2.328356981277466
#41: 2.2316370010375977
#42: 2.274909019470215
#43: 2.3228418827056885
#44: 2.675446033477783
#45: 2.624603033065796
#46: 2.5523879528045654
#47: 2.2526509761810303
#48: 2.2340240478515625
#49: 2.873427152633667
#50: 2.446936845779419
#51: 2.218656063079834
#52: 2.3726789951324463
#53: 2.264389991760254
#54: 2.603813886642456
#55: 2.5746560096740723
#56: 2.251984119415283
#57: 2.3171069622039795
#58: 2.652524948120117
#59: 2.362528085708618
#60: 2.251008987426758
#61: 2.201375961303711
#62: 2.260190963745117
#63: 2.266098976135254
#64: 2.204379081726074
#65: 2.2284560203552246
#66: 2.1889729499816895
#67: 2.2249131202697754
#68: 2.191977024078369
#69: 2.1922829151153564
#70: 2.2707130908966064
#71: 2.220385789871216
#72: 2.251286029815674
#73: 2.2161121368408203
#74: 2.2035138607025146
#75: 2.219236135482788
#76: 2.22300386428833
#77: 2.2015621662139893
#78: 2.2030599117279053
#79: 2.3099770545959473
#80: 2.174923896789551
#81: 2.2453110218048096
#82: 2.2556369304656982
#83: 2.2262210845947266

(60, 687239)

In [69]:
sc = SpectralClustering(n_clusters=7, random_state=42)
pred = sc.fit_predict(icats_array)
pd.Series(pred).value_counts()

2    32
5    21
0    15
3     6
1     6
6     3
4     1
dtype: int64

In [16]:
with open(DATA_DIR + 'icats_sparse.pickle', 'wb') as f:
    pickle.dump(icats_array, f)