In [1]:
import json
import os
import pickle

import numpy as np
import pandas as pd
import lightgbm as lgb

In [4]:
df_train_full = pd.read_pickle('train_parsed_nojson.pickle')
df_test_full = pd.read_pickle('test_parsed_nojson.pickle')

In [7]:
df_train_full.describe()

               date       visitId   visitNumber  visitStartTime         rowId
count  1.708337e+06  1.708337e+06  1.708337e+06    1.708337e+06  1.708337e+06
mean   2.017016e+07  1.498352e+09  2.335170e+00    1.498352e+09  8.541680e+05
std    6.485620e+03  1.624937e+07  9.354034e+00    1.624937e+07  4.931546e+05
min    2.016080e+07  1.470035e+09  1.000000e+00    1.470035e+09  0.000000e+00
25%    2.016122e+07  1.482738e+09  1.000000e+00    1.482738e+09  4.270840e+05
50%    2.017071e+07  1.499832e+09  1.000000e+00    1.499832e+09  8.541680e+05
75%    2.017120e+07  1.512513e+09  1.000000e+00    1.512513e+09  1.281252e+06
max    2.018043e+07  1.525158e+09  4.570000e+02    1.525158e+09  1.708336e+06

In [8]:
len(df_train_full)

1708337

In [9]:
len(df_test_full)

401589

In [18]:
df_test_full.date.min(), df_test_full.date.max()

(20180501, 20181015)

In [12]:
df_train_full.date.sort_values().head()

996451    20160801
996443    20160801
996444    20160801
996445    20160801
996446    20160801
Name: date, dtype: int64

In [19]:
df16 = df_train_full[df_train_full.date <= 20161015]

In [21]:
df16_label = df_train_full[(df_train_full.date >= 20161201) & (df_train_full.date <= 20170131)]
df16_label = pd.DataFrame(
    {
        'fullVisitorId': df16_label.fullVisitorId,
        'revenue': df16_label.totals_transactionRevenue.astype(np.float64).fillna(0.0),
    }
)

In [27]:
df16_label.head()

            fullVisitorId  revenue
8780  1228032379240126503      0.0
8781  1088084052558051564      0.0
8782  3615794190344553521      0.0
8783  8127234129777839476      0.0
8784  7139860291376515793      0.0

In [28]:
df_g = df.groupby('fullVisitorId').sum()
df_g.head()

NameError: name 'df' is not defined

In [34]:
df = pd.DataFrame(
    {
        'fullVisitorId': df_test_full.fullVisitorId,
        'revenue': df_test_full.totals_transactionRevenue.astype(np.float64).fillna(0.0),
    }
)
df.head()

         fullVisitorId  revenue
0  7460955084541987166      0.0
1   460252456180441002      0.0
2  3461808543879602873      0.0
3   975129477712150630      0.0
4  8381672768065729990      0.0

In [35]:
df_g = df.groupby('fullVisitorId').sum()
df_g.head()

                     revenue
fullVisitorId
0000018966949534117      0.0
0000039738481224681      0.0
0000073585230191399      0.0
0000087588448856385      0.0
0000149787903119437      0.0

74055.33468068542