In [1]:
import os
import re

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import RandomForestRegressor

In [2]:
def read(file_name):
    data_dir = '/Users/keiji/work/kaggle/sales1c/'
    pickle = data_dir + file_name + '.pickle'
    if os.path.exists(pickle):
        return pd.read_pickle(pickle)
    df = pd.read_csv(data_dir + file_name)
    df.to_pickle(pickle)
    return df

df_icats = read('item_categories.csv')
df_items = read('items.csv')
df_shops = read('shops.csv')
df_test = read('test.csv.gz')
df_train_all = read('sales_train.csv.gz')

In [3]:
TARGET_DATE_BLOCK = 32
df_train = df_train_all[df_train_all.date_block_num < TARGET_DATE_BLOCK]
df_val = df_train_all[df_train_all.date_block_num == TARGET_DATE_BLOCK]

# Training data
All non-null.
3M rows.

In [11]:
df_train_all[:1000000].info()
print()
df_train_all[1000000:2000000].info()
print()
df_train_all[2000000:].info()

df_train_all.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
date              1000000 non-null object
date_block_num    1000000 non-null int64
shop_id           1000000 non-null int64
item_id           1000000 non-null int64
item_price        1000000 non-null float64
item_cnt_day      1000000 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 45.8+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 1000000 to 1999999
Data columns (total 6 columns):
date              1000000 non-null object
date_block_num    1000000 non-null int64
shop_id           1000000 non-null int64
item_id           1000000 non-null int64
item_price        1000000 non-null float64
item_cnt_day      1000000 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 45.8+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935849 entries, 2000000 to 2935848
Data columns (total 6 columns):
date              935849 non-null object
date_block_num    935849 non-null int64
shop_id           935849 non-null int64
item_id           935849 non-null int64
item_price        935849 non-null float64
item_cnt_day      935849 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 42.8+ MB

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

In [10]:
df_train_all.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

# Test data
All non-null.
200k rows

In [13]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214200 entries, 0 to 214199
Data columns (total 3 columns):
ID         214200 non-null int64
shop_id    214200 non-null int64
item_id    214200 non-null int64
dtypes: int64(3)
memory usage: 4.9 MB

In [14]:
df_test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268