In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import xgboost as xgb
from sklearn.grid_search import GridSearchCV

/Users/keiji/anaconda/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/keiji/anaconda/lib/python3.5/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [3]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
full_df = pd.concat([train_df, test_df], axis=0)

In [4]:
y = train_df.Survived

In [11]:
def prep(df):
    X = pd.DataFrame((df['Sex'] == 'female') * 1)
    return X

X = prep(train_df)

In [ ]:
param_grid = {
'learning_rate':[0.1],
'n_estimators':[1000, 2000, 3000],
'max_depth':[2,3,5],
'min_child_weight':[1,2,3],
'max_delta_step':[5],
'gamma':[0,3,10],
'subsample':[.4, .5, .6, .7, .8],
'colsample_bytree':[.5, .6, .7, .8],
'objective':['binary:logistic'],
'nthread':[4],
'scale_pos_weight':[1],
'reg_alpha': [.01, .02, .03, .04],
'seed':[0],
}

clf = GridSearchCV(xgb.XGBClassifier(), param_grid=param_grid, cv=3, scoring='roc_auc')
clf.fit(X, y)

print(clf.best_params_)
print(clf.best_score_)

     Sex
0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     1
26     0
27     0
28     1
29     0
..   ...
861    0
862    1
863    1
864    0
865    1
866    1
867    0
868    0
869    0
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    1
883    0
884    0
885    1
886    0
887    1
888    1
889    0
890    0

[891 rows x 1 columns]